*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.tfstate
.terraform/
*.log
*.bak
.*.swp
.idea
*.test
*.iml
*.zip
**/.vscode/
**/.terraform/
.metadata/
target/*
RemoteSystemsTempFiles/
.classpath
.settings/*
.project
**/.classpath
**/.settings/*
**/.project
**/.metadata/
**/target/
